{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Vollkorn:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Document</title>
  </head>
  <body>
    <!-- navbar -->
    <div class="nav">
      <input type="checkbox" id="nav-check" />
      <div class="nav-header">
        <div class="nav-title">昨夜星河</div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>

      <div class="nav-links">
        <a href="#">Home</a>
        <a href="{% url 'home' %}">Blog</a>
        <a href="#">About</a>
      </div>
      <form class="d-flex" method="POST" action="/search/"> {% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="Search" name="searched" id="searched" aria-label="Search">
        <button href="/search/" class="btn btn-outline-secondary" type="submit">Search</button>
      </form>
    </div>

    {% block content %}
    <!-- Content Goes here -->
    {% endblock content %}
    <!-- Footer -->
    <footer>
      <p>Copyright &copy; Zesheng</p>
    </footer>
    <script src="{% static 'js/click_to_text.js' %}"></script>
  </body>
</html>
