{% extends 'blog_base.html' %} {% block content %}

<h1>我的博客主页</h1>
{% for post in post_list %}
<h2>{{ post.title }}</h2>
<p>{{ post.author }} | {{ post.created_on}}</p>
<p>{{post.content|slice:":200" }}</p>
<a href="{% url 'post_detail' post.slug  %}">Read More &rarr;</a>
{% endfor %} 


{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}












{% endblock content %}
