{% extends 'blog_base.html' %} {% block content %}

{% comment %} {% for post in post_list %}
<h2>{{ post.title }}</h2>
<p>{{ post.author }} | {{ post.created_on}}</p>
<p>{{post.content|slice:":200" }}</p>
<a href="{% url 'post_detail' post.slug  %}">Read More &rarr;</a>
{% endfor %}  {% endcomment %}

{% for post in post_list %}
<div class="card">
  <img src="https://images.unsplash.com/photo-1615147342761-9238e15d8b96?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1001&q=80" class="card__image" alt="brown couch" />
  <div class="card__content">
    <time class="card__date">{{ post.created_on}}</time>
    <span class="card__title">{{ post.title }}<span>
  </div>
  <a href="{% url 'post_detail' post.slug  %}">Read More &rarr;</a>
</div>
{% endfor %} 








{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}












{% endblock content %}
